[submodule "libs/pruefungsplaner-datamodel"]
	path = libs/pruefungsplaner-datamodel
	url = https://github.com/Zebreus/pruefungsplaner-datamodel.git
[submodule "libs/qt-jsonrpc-server"]
	path = libs/qt-jsonrpc-server
	url = https://github.com/Zebreus/qt-jsonrpc-server.git
[submodule "libs/security-provider"]
	path = libs/pruefungsplaner-auth
	url = https://github.com/Zebreus/securityProvider.git
[submodule "libs/jwt-cpp"]
	path = libs/jwt-cpp
	url = https://github.com/Zebreus/jwt-cpp.git
[submodule "libs/cpptoml"]
	path = libs/cpptoml
	url = https://github.com/skystrife/cpptoml.git
