[submodule "libs/pruefungsplaner-datamodel"]
	path = libs/pruefungsplaner-datamodel
	url = git@github.com:Zebreus/pruefungsplaner-datamodel.git
[submodule "libs/qt-jsonrpc-server"]
	path = libs/qt-jsonrpc-server
	url = git@github.com:Zebreus/qt-jsonrpc-server.git
